<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bands</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Rock On {{user.first_name}} {{user.last_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <div class="col-8 mx-auto">
            <h2 class="card-title text-primary">My Bands:</h2>
                <div class="col-8 mx-auto"></div>
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th>Band Name</th>
                        <th>Founding Member</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for band in user_bands %}
                        <tr>
                            <td class="">{{band.name}}</td>
                            <td class="">{{band.creator.first_name}} {{band.creator.last_name}}</td>
                            <td class="">{{band.genre}}</td>
                            {% if session.user_id == band.user_id  %}
                                <td class=""><a href="/edit/band/{{ band.id }}">Edit</a> | <a href="/destroy/band/{{ band.id }}">Delete</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>
</html>